<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des étudiants</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">NAVBAR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/students/home}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students/list}">Liste des Étudiants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students/form}">Ajouter un Étudiant</a>
            </li>
        </ul>
    </div>
</nav>
<h1>Liste des étudiants</h1>
<ul th:if="${not #lists.isEmpty(students)}">
    <li th:each="student : ${students}">
        <a th:href="@{/students/details/{id}(id=${student.id})}" th:text="${student.firstName} + ' ' + ${student.lastName}"></a>
    </li>
</ul>
<p th:if="${#lists.isEmpty(students)}">Aucun étudiant inscrit pour le moment.</p>
<footer>
    <!-- Footer -->
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
